.listaCursos {
    margin-left: 20px;
}
.container-lista{
   margin-top: 20px;
}
th,
td {
    padding: 10px;
}
.btnRemover {
    background-color: rgb(255, 17, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 5px 5px 30px;
    color: rgba(255, 255, 255, 0.932);
}
