body{
    background-color: #cbd9ea;
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;


}

#card1{
    box-shadow: 3px 6px 8px rgb(100,100,100,0.9);
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    

}

#lista{
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 20px;
    padding: 5px;
    
}

.descriçao{
    margin-left: 18px;
}
.titulos{
    text-align: left;
    margin-left: 18px;

}
.links{
    padding-left: 10px;
    margin-bottom: 30px;
    margin-top: 30px;

}
#link{
    border-radius: 6px;
    background-color: aquamarine;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left:205px;
    padding-right: 205px;
    margin-left: 10px;
    background-color: black;
    color: azure;
  
}

#enviar{
    background-color: black;
    color: azure;
   
 }
 
 .form-control{
     border-radius: 10px;
 }

 #card2{
    box-shadow: 3px 6px 8px rgb(100,100,100,0.9);
    margin-top: 50px;
    margin-right: 60px;
    border-radius: 10px;
 }