body{
    background-color: #cbd9ea;
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center ;

}

.card{
    box-shadow: 3px 6px 8px rgb(100,100,100,0.9);
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 110px;
    margin-bottom: 100px;
    border-radius: 10px;
   
}

#enviar{
   background-color: black;
   color: azure;
  
}

.form-control{
    border-radius: 10px;
}